@using CurrencyConverter.Web.UI.Components.Calculator

@page "/"

<PageTitle>Currency Converter</PageTitle>

<h1 style="font-family: 'Orienta', sans-serif; text-align: center; padding: 50px;">Currency Converter</h1>

<Calculator/>

<!-- PERHAPS TODO: WE JUST MAKE HOME PAGE THE CALCULATOR AND ROUTE TO IT WITH QUERY PARAMS 
     POTENTIAL CONSIDERATIONS: HOW WILL WE THEN HANDLE TRANSLATING PAGE INTO DIFFERENT LANGUAGES
     AND WHAT IF WE WANTED DIFFERENT PAGES ON OUR APP? (SO WE SHOULD PROBABLY STILL HAVE A HOME PAGE WITH LINKS TO DIFFERENT PAGES, BUT THIS IS FINE FOR NOW)
        (e.g. MAKE CALCULATOR PAGE SEPARATE i.e. /convert-currency/?from=GBP&to=EUR&amount=1 AND THEN HOME PAGE JUST HAS LINKS TO CALCULATOR, ABOUT US, CONTACT US ETC. PAGES)
-->

@code {

}
