@using CurrencyConverter.Web.UI.Components.Calculator

@page "/"

<PageTitle>Currency Converter</PageTitle>

<h1 style="font-family: 'Orienta', sans-serif; text-align: center; padding: 50px;">Currency Converter</h1>

<Calculator/>

@code {

}
