@page "/"
@using Models
<!-- ^^ We already have root namespace in _Imports.razor>
<PageTitle>Currency Converter</PageTitle>

<h1>Hello, world! @converter.Amount </h1>

Welcome to your new app.

@code {
    Converter converter = new Converter
    {
        StartingRate = ExchangeRate.GBP,
        Amount = 200,
        TargetRate = ExchangeRate.EUR
    };
}
